/*Login-page*/

.fist-blade{
    background-color: #F5F5F5;

    h1{
        padding-top: 0.5em;
        padding-bottom: 0.5em;

    }

    .info-box{
        display: flex;
        justify-content: flex-start;
        padding-bottom: 4em;
        .first-blade-img{
            margin-right: 1em;
        }
    }
}

.second-blade{
    background-color: #00539C;

    h2{
        color: white;
        padding-top: 1em;
        padding-bottom: 2em;
        text-align: center;
        font-size: 3em;
    }

    h3{
        color: white;
        text-align: center;
        padding-top: 1em;
    }

    p{
        color: white;
        text-align: center;
    }

    .info{
        display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        .info-box{
            width: 30%;
            align-items: flex-start;
            justify-content: space-between;
            min-height: 395px;
            margin-right: 3%;
            img{
                height: 190px;
                width: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}

.third-blade{
    background-color: #E6F1FC;

    h2{
       color:  #00539C;
        padding-top: 1em;
        padding-bottom: 2em;
        font-size: 2em;
        font-weight: bold;
    }

    h3{
        margin-top: 0.5em;
        font-size: 1.4em !important;
        font-weight: 600 !important;
        margin-bottom: 0px !important;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .items{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        text-decoration: none;
        .item{
            width: 32%;
            margin-bottom: 20px;
            margin-right: 1%;
            float: left;
            min-height: 400px;
            background: #fff;
            padding: 30px;
            justify-content: flex-start;
            color: #00539c;
            margin-bottom: 35px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.19);
            position: relative;
            .productinfo{
                min-height: 260px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                img{
                    height: 60px;
                    width: 60px;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }

}
