/*Login-page*/

.fist-blade{
    background-color: #F5F5F5;

    h1{
        padding-top: 0.5em;
        padding-bottom: 0.5em;

    }

    .info-box{
        display: flex;
        justify-content: flex-start;
        padding-bottom: 4em;
        .first-blade-img{
            margin-right: 1em;
        }
    }
}

.second-blade{
    background-color: #00539C;

    h2{
        color: white;
    }

    .info{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}
